<header>
  <ul class="nav">
    <li>
      <a href="/">Início<small>onde tudo começa</small></a>
    </li>
    <li class="logotipo"><img src="images/Logotipo-223x210.svg"></li>
  </ul>
  <h1>{{ title }}</h1>
  {%- if subtitle %}<p class="subtitle">{{ subtitle | safe }}</p>{% endif %}
</header>
