<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>{{ title }}</title>
    <meta property="og:description" 
      content="Laboratório de inovação tecnológica para Cidades Inteligentes, promovendo a igualdade racial" />

    {# open graph #}
    <meta property="og:determiner" content="O" />
    <meta property="og:locale" content="pt_BR" />
    <meta property="og:locale:alternate" content="fr_FR" />
    <meta property="og:locale:alternate" content="es_ES" />
    <meta property="og:locale:alternate" content="en_US" />
    <meta property="og:site_name" content="Ubuntu_Labe" />
    <meta property="og:image" content="https://ubuntulabe.netlify.app/images/open-graph-index.png" />
    <meta property="og:image:secure_url" content="https://ubuntulabe.netlify.app/images/open-graph-index.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta property="og:image:alt" content="Contém uma mulher negra usando um laptop, escrito Protagonizando pessoas pretas na inovação tecnológica" />

    {# favicon #}
    <link rel="icon" href="https://ubuntulabe.netlify.app/images/favicon.png" sizes="32x32">

  </head>
  <body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>
    
    <div class="container">
      {% include "header.njk" %}
      {{ content | safe }}
      {% include "footer.njk" %}
    </div>

    {% set js %}
      {% include "js/core.js" %}
      {% include "js/hello.js" %}
    {% endset %}
    <script>{{ js | jsmin | safe }}</script>

  </body>
</html>



